body{
  margin: 0;
  padding: 0%;
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  @font-face{
    font-family: 'PorterSans';
    src: url(../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff);
  }

  nav{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .navBarPages{
    margin-top: 2em; 
    width: 90%;
    height: 80px;
    
    margin-left: auto;
    margin-right: auto; /*allows the navbar to be centered by setting the margin to auto*/
    border-radius: 30px; /*rounding the navbar to make it look like the design given*/

    display: flex;
    align-items: center;
    background-color: #ffffffa9;
    
  }
  
  .navBarFlights{
    color: #000000a3;
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    padding-right: 10px;
    width: 80%; 
    
    text-decoration: none;
    /*font size, color, and spacing to ensure the flights text is centered and in proportion. no text decoration, otherwise there is a link 
    line on the bottom of the flights*/
  }

  .navBarHome{
    color: #000000a3;
    

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    width: 20%;
    

    text-decoration: none;
  }
  .navBarContact{
    color: #000000a3;
    

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    width: 20%;

    text-decoration: none;
  }
  .searchBarCart {
    background: rgb(255, 255, 255); /* Match input field */
    border: none;
    padding: 8px 12px;
    /* Push cart icon to the right */
    position: relative; /* Needed for absolute positioning of badge */
}
.cart {
  
  padding: 4px 6px;
  min-width: 18px;
  top: -5px; /* Adjust position */
  right: 10px;
  border: none;
}

.searchBarMag {
  background: white; /* Match input field */
  border-right: none; /* Remove right border */
  
}

.searchBarText {
  border-left: none; /* Remove left border */
  box-shadow: none; /* Remove default focus glow */
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    font-size: 18px;

    padding-left: 10px; /* Space between input and search icon */
    
}


.form-control {
  border: none; /* Remove input border */
  box-shadow: none; /* Remove focus outline */
  padding-right: 40px; /* Add padding so text doesn't overlap with cart */
}


  .navBarCenter a:hover{
    color: #e51728;
  }

.navBarCenter a.active{ 
  color: #e51728;
}
.active-link {
  color:#e51728;
  
}
.headerContainer{
  height: 101vh;
  
  position: relative;
  text-align: center;

}


.bottomTopLeft{
  position: absolute;
  bottom: 130px;
  left: 16px;
  width: 600px;
  word-wrap: break-word;

  font-family: 'PorterSans';
  font-size: 48px;
  color: #e51728;
}

.bottomBotLeft{
  position:absolute;
  bottom: 75px;
  left: 28px;
  

  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #45016d;

}

.homeHeader{
  height: 120vh;
  background-image: url(../assets/img/homePageHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.featuredTripHeader {
  height: 101vh;
  background-size: cover;

  position: relative;
  width: 100%; 
  background-color: #45016d;
}

/*.carouselContainer {
  position: relative;
  display: inline-block;
}

.featuredTripArrows {
  position: absolute;
  top: 50%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow {
  position: absolute;
  width: 20px; 
  height: auto;
  cursor: pointer;
}

.arrow.left {
  left: -60px; 
}

.arrow.right {
  right: -60px; 
}*/




.featuredTripHeader img{
  position: absolute;
  bottom: 40px;
  left: 100px;
  

  padding: 14px 16px;
}



.featuredTrip{
  position:absolute;
  top: 100px;
  right: 590px;
  

  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #55daeb;
}

h1{
  position: absolute;
  top: 130px;
  right: 120px;

  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #ffffff;

  text-align: left;
  width: 600px;
  word-wrap: break-word

}

.aboutTrip p{
  position: absolute;
  top: 270px;
  right: 250px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;

  text-align: left;
  width: 470px;
  word-wrap: break-word

}



.buttonBook{
  position: absolute;
  top: 500px;
  right: 450px;

  width: 270px;
  height: 70px;

  background-color: #e51728;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  padding: 0%;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonBook:hover{
  background-color: #ffffff;
  color: #e51728;
  transition-duration: 0.4s;
  cursor: pointer;
}

.shuttlesHeader{
  height: 80vh;
  background-size: cover;

  position: relative;
  text-align: center;

  background-color: #ffffff;
}

.shuttlesHeader img{
  position: absolute;

  top: 50px;
  right: 20px;

  padding: 14px 16px;
}

.shuttles{
  position:absolute;
  top: 80px;
  left: 145px;
  

  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #55daeb;
}

h2{
  position: absolute;
  top: 100px;
  left: 144px;

  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #45016d;

  text-align: left;
  width: 600px;
  word-wrap: break-word
}

.aboutShuttles p {
  position: absolute;
  top: 260px;
  left: 145px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000a3;

  text-align: left;
  width: 470px;
  word-wrap: break-word

}

.upcomingTripsHeader{
  position: relative;
  height: 120vh;
  width: 100%;
  background-size: cover;
  background-color: #45016d;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  padding-top: 5px;
  padding-bottom: 5px;


}

.upcomingTrip{
  position: absolute;

  top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #55daeb;
}

.upcomingTripLook{
  position: absolute;
  top: 80px;

  flex-wrap: wrap;
  width: 60%;
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #ffffff;
}

.planetCardsMars{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.classicMars{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.classicMars img{
  width: 278px;
  height: 278px;

  position: absolute;
  top: 250px;
  left: 150px;

  object-fit: cover;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

h3{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 540px;
  left: 180px;
  width: 15%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 18px;
  color: #ffffff;

}

.classicMarsExp p{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 585px;
  left: 135px;
  width: 20%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  color: #ffffff;
}

.planetCardsNept{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.neptCosmic{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.neptCosmic img{
  width: 278px;
  height: 278px;

  position: absolute;
  top: 250px;
  left: 465px;

  object-fit: cover;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

.neptCosmicFlight{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

h4{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 535px;
  left: 515px;
  width: 12%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 18px;
  color: #ffffff;
}

.neptCosmicFlight p{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 585px;
  left: 450px;
  width: 20%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  color: #ffffff;
}

.planetCardsGiant{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.jupiterGiant{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.jupiterGiant img{
  width: 278px;
  height: 278px;

  position: absolute;
  top: 250px;
  right: 460px;

  object-fit: cover;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: right;
}

.giantJourney{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

h5{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-wrap: wrap;

  top: 535px;
  right: 505px;
  width: 12%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 18px;
  color: #ffffff;
}

.giantJourney p{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 585px;
  right: 450px;
  width: 20%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  color: #ffffff;
}

.planetCardsSaturn{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.saturnRing {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.saturnRing img{
  width: 278px;
  height: 278px;

  position: absolute;
  top: 250px;
  right: 150px;

  object-fit: cover;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: right;
}

.saturnRingFlight{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

h6{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-wrap: wrap;

  top: 535px;
  right: 195px;
  width: 12%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 18px;
  color: #ffffff;
}

.saturnRingFlight p{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-wrap: wrap;

  top: 585px;
  right: 140px;
  width: 20%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  color: #ffffff;

}

.buttonBookTrip{
  position: absolute;
  bottom: 90px;

  width: 270px;
  height: 70px;

  background-color: #e51728;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  padding: 0%;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonBookTrip:hover{
  background-color: #ffffff;
  color: #e51728;
  transition-duration: 0.4s;
  cursor: pointer;
}

.footerFlexContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: relative;

  background-color: #ffffff;
  height: 40vh;
  margin: 0%;
}

.logoFooter{
  display: flex;
  flex-direction: column;
  justify-content: left;
  
}

.logoFooter img{
  width: 266px;
  height: 48px;


  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;

  top: 80px;
  left: 100px;
}

.logoFooter p{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;

  top: 150px;
  left: 100px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000a3;

  width: 20%;
}

.companyColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
}

.company{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;

  top: 80px;
  right: 20px;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #000;
}

.footerCenter{
  
  display: flex;
  flex-direction: column;
  justify-content: right;
}

#homeFooter{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: right;

  top: 150px;
  right: 58px;

  
}

#homeFooter a{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #000000a3;
  font-size: 18px;
}

#flightsFooter{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: right;

  top: 190px;
  right: 55px;
}


#flightsFooter a{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #000000a3;
  font-size: 18px;
}

#contactFooter{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: right;
  

  top: 230px;
  right: 40px;
}

#contactFooter a{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #000000a3;
  font-size: 18px;
  width: 150%;

}

.socialMedia{
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  position: absolute;

  top: 140px;
  right: 200px;
}

.socialMedia p{
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  position: absolute;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;


  bottom:  20px;
  right: 200px;
  width: 200px;
}

.socialMediaImg {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  position: absolute;

  top: 120px;
  right: 265px;
}

.footerBottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

hr{
  width: 80%;
  margin: 0 auto; 
    border: 1px solid #00000086; 
}

.footerBottomLeft{
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: absolute;
  
  left: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000a3;
  padding-top: 30px;

}

.footerBottomRight{
  display: flex;
  flex-direction: row;
  justify-content: right;
 position: relative;
}


.terms{
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: absolute;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000a3;
  

  left:  250px;
  width: 200px;
}

.privacy{
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: absolute;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000a3;
  
  left:  450px;
  width: 250px;
}

#homeFooter a:hover{
  color: #e51728;
}

#homeFooter a.active{ 
color: #e51728;
}

#flightsFooter a:hover{
  color: #e51728;
}

#flightsFooter a.active{
  color: #e51728;
}

#contactFooter a:hover{
  color: #e51728;
}

#contactFooter a.active{
  color: #e51728;
}

.flightsHeader{
  height: 50vh;
  position: relative;
  
  background-image: url(../assets/img/headerbackBack.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;

  
}
.flightsBook{
  position: absolute;
  
  font-family: 'PorterSans';
  font-size: 48px;
  color: #ffffff;

  bottom: 90px;
  left: 450px;

}


.contactHeader{
  height: 50vh;
  position: relative;
  
  background-image: url(../assets/img/headerbackBack.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;

  
}
.contactUs{
  position: absolute;
  
  font-family: 'PorterSans';
  font-size: 48px;
  color: #ffffff;

  bottom: 90px;
  left: 510px;

}

.aboutUs {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;
  background-color: #ffffff;
  
}

.aboutRedPlanetVentures {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 50px;
}

.textAbout {
  flex: 1;
  text-align: left;
}

.aboutUsHeading {
  margin-bottom: 5px; 
  margin-top: -20px;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #55daeb;
  
}

.redPlanetVentures {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #45016d;
}

.textAbout p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #00000086;
  margin-top: 20px;

  line-height: 1.6;
}

.aboutImage {
  width: 400px; 
  height: auto;
  flex-shrink: 0; 
}

.toolBar{
  height: 15vh;
  background-color: #45016d;
  
}

.sliderFilter{
  background-color: #45016d;
  border: none;

  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 100px;
}

.sliderFilter:hover{
  background-color: #000000a3;
}

.sliderFilter img {
  filter: brightness(0) invert(1);
}

.filter{
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;

    color: #ffffff;
}


.grid{
  background-color: #45016d;
  border: none;

  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.grid:hover{
  background-color: #000000a3;
}

.grid img {
  filter: brightness(0) invert(1);
}

.listIcon{
  background-color: #45016d;
  border: none;

  padding: 10px;
  display: flex;
  justify-content:left;
  align-items: center;
}

.listIcon:hover{
  background-color:#000000a3
}

.listIcon img {
  filter: brightness(0) invert(1);
}

.results-content{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

  color: #ffffff;
}

.lineDivide {
  width: 4px;
  height: 24px;
  background-color: rgb(255, 255, 255);
  margin: 0 15px;
}

.show{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

  color: #ffffff;
}

.showNumButton{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #45016d;

    height: 50px;
    width: 50px;
    border-radius: 6px;
    border: none;

    background-color: #ffffffa9;
}

.showNumButton:hover{
  color:#45016d;
  background-color:#000000a3;
  border: #ffffffa9;
}

.sortBy{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

  color: #ffffff;
}

.defaultButton{

  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: right;
  padding-left: 20px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #45016d;

  height: 50px;
  width: 200px;
  border-radius: 6px;
  border: none;

  background-color: #ffffffa9;
}

.defaultButton:hover{
  color:#45016d;
  background-color:#000000a3;
  border: #ffffffa9;
}

.rightToolBar {
  margin-right: 80px;
  margin-left: auto;
}

.bookMarsFlight{
  position: relative;
  height: 100vh;
  background-color: #ffffff;

  display: flex;
  justify-content: row;
  align-items: center;
}

.bookMarsFlight img{
  margin-left: 140px;
  margin-right: auto;
}

.classicMarsFlight{
  position: absolute;
  top: 60px;
  right: 140px;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #000000;

}

.marsPriceDiscounted{
  position: absolute;
  top: 140px;
  right:704px;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
}

.marsPriceNormal{
  position: absolute;
  top: 140px;
  right:520px;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
  text-decoration: line-through;
}

.marsReviews{
  display: flex;
  flex-direction: row;

}

.marsStarReviews{
  

  display: flex;
  flex-direction: row;



}

  .icon {
    filter: invert(8%) sepia(100%) saturate(6481%) hue-rotate(246deg) brightness(102%) contrast(143%);
}
