body{
  margin: 0;
  padding: 0%;
  
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  @font-face{
    font-family: 'PorterSans';
    src: url(../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff);
  }


/* Nav Bar Styling*/
  nav{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .navBarPages{
    margin-top: 2em; 
    width: 90%;
    height: 80px;
    
    margin-left: auto;
    margin-right: auto; 
    border-radius: 30px; 

    display: flex;
    align-items: center;
    background-color: #ffffffa9;
    
  }
  
  .navBarFlights{
    color: #000000a3;
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    padding-right: 10px;
    width: 80%; 
    
    text-decoration: none;
  }

  .navBarHome{
    color: #000000a3;
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    width: 20%;
    
    text-decoration: none;
  }

  .navBarContact{
    color: #000000a3;
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    width: 20%;

    text-decoration: none;
  }

  .searchBarCart {
    background: rgb(255, 255, 255); 
    border: none;
    padding: 8px ;
    position: relative; 
}

.cart {
 
  min-width: 18px;
  top: -5px;
  right: 10px;
  border: none;
}

.searchBarMag {
  background: white;
  border-right: none; 
  
}

.searchBarText {
  border-left: none; 
   width: 70px;
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    font-size: 16px;
}

  .navBarCenter a:hover{
    color: #e51728;
  }

.navBarCenter a.active{ 
  color: #e51728;
}
.active-link {
  color:#e51728;
  
}

/* Red Planet Ventures home Hero Section styling*/
.headerContainer{
  height: 100vh;
  
  position: relative;
  text-align: center;

}

.bottomTopLeft{
  position: absolute;
  bottom: 100px;
  left: 80px;
  width: 600px;
  word-wrap: break-word;
  text-align: left;

  font-family: 'PorterSans';
  font-size: 48px;
  color: #e51728;
}

.bottomBotLeft{
  
  position:absolute;
  bottom: 40px;
  left: 80px;

  text-align: left;
  

  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #45016d;

}

.homeHeader{
  height: 120vh;
  background-image: url(../assets/img/homePageHeader.png);
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.featuredTripHeader {
  height: 100vh;
  background-color: #45016d;
}


/* Featured Product - The classic Mars experience styling on home page*/

.tripHeaderCard{
  border: none;
  background-color: #45016d;
  margin-left: 8%;
  height: 100vh;
  
}

.marsExpCard{
  margin-top: 8%;
  margin-left: 8%;
}
.marsFeaturedTrip{
  
  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #55daeb;
}

.marsClassicExp{
  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #ffffff;

  text-align: left;
  width: 600px;
  word-wrap: break-word
}

.marsFlightAbout{
  margin-left: 7%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;

  text-align: left;
  width: 65%;
  word-wrap: break-word

}

.buttonBook{
  
  margin-left: 8%;
  width: 270px;
  height: 70px;

  background-color: #e51728;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  padding: 0%;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonBook:hover{
  background-color: #ffffff;
  color: #e51728;
  transition-duration: 0.4s;
  cursor: pointer;
}

/*Shuttles and Shuttles description on home page styling*/
.shuttlesHeader{
  height: 80vh;
  background-size: cover;

  position: relative;
  text-align: center;

  background-color: #ffffff;
}

.shuttlesHeader img{
  position: absolute;

  top: 50px;
  right: 20px;

  padding: 14px 16px;
}

.shuttles{
  position:absolute;
  top: 80px;
  left: 145px;
  
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #55daeb;
}

h2{
  position: absolute;
  top: 100px;
  left: 144px;

  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #45016d;

  text-align: left;
  width: 600px;
  word-wrap: break-word
}

.aboutShuttles p {
  position: absolute;
  top: 260px;
  left: 145px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000a3;

  text-align: left;
  width: 470px;
  word-wrap: break-word

}

/* Featured Products cards on home page styling*/
.upcomingTripsHeader{
  position: relative;
  height: 120vh;
  width: 100%;
  background-size: cover;
  background-color: #45016d;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  padding-top: 5px;
  padding-bottom: 5px;

}

.upcomingTrip{
  position: absolute;

  top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #55daeb;
}

.upcomingTripLook{
  position: absolute;
  top: 80px;

  flex-wrap: wrap;
  width: 60%;
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #ffffff;
}

.planetCardsMars{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.classicMars{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.classicMars img{
  width: 278px;
  height: 278px;

  position: absolute;
  top: 250px;
  left: 150px;

  object-fit: cover;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

h3{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 540px;
  left: 180px;
  width: 15%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 18px;
  color: #ffffff;

}

.classicMarsExp p{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 585px;
  left: 135px;
  width: 20%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  color: #ffffff;
}

.planetCardsNept{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.neptCosmic{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.neptCosmic img{
  width: 278px;
  height: 278px;

  position: absolute;
  top: 250px;
  left: 465px;

  object-fit: cover;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

.neptCosmicFlight{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

h4{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 535px;
  left: 515px;
  width: 12%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 18px;
  color: #ffffff;
}

.neptCosmicFlight p{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 585px;
  left: 450px;
  width: 20%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  color: #ffffff;
}

.planetCardsGiant{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.jupiterGiant{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.jupiterGiant img{
  width: 278px;
  height: 278px;

  position: absolute;
  top: 250px;
  right: 460px;

  object-fit: cover;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: right;
}

.giantJourney{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

h5{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-wrap: wrap;

  top: 535px;
  right: 505px;
  width: 12%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 18px;
  color: #ffffff;
}

.giantJourney p{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;

  top: 585px;
  right: 450px;
  width: 20%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  color: #ffffff;
}

.planetCardsSaturn{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.saturnRing {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.saturnRing img{
  width: 278px;
  height: 278px;

  position: absolute;
  top: 250px;
  right: 150px;

  object-fit: cover;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: right;
}

.saturnRingFlight{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

h6{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-wrap: wrap;

  top: 535px;
  right: 195px;
  width: 12%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 18px;
  color: #ffffff;
}

.saturnRingFlight p{
  aspect-ratio: 1/1;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-wrap: wrap;

  top: 585px;
  right: 140px;
  width: 20%;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  color: #ffffff;

}

.buttonBookTrip{
  position: absolute;
  bottom: 90px;

  width: 270px;
  height: 70px;

  background-color: #e51728;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  padding: 0%;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonBookTrip:hover{
  background-color: #ffffff;
  color: #e51728;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Footer for all pages styling*/
.footerFlexContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: relative;

  background-color: #ffffff;
  height: 40vh;
  margin: 0%;
}

.logoFooter{
  display: flex;
  flex-direction: column;
  justify-content: left;
  
}

.logoFooter img{
  width: 266px;
  height: 48px;


  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;

  top: 80px;
  left: 100px;
}

.logoFooter p{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;

  top: 150px;
  left: 100px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000a3;

  width: 15%;
}

.companyColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
}

.company{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;

  top: 80px;
  right: 22px;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #000;
}

.footerCenter{
  
  display: flex;
  flex-direction: column;
  justify-content: right;
}

#homeFooter{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: right;

  top: 150px;
  right: 65px;
}

#homeFooter a{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #000000a3;
  font-size: 16px;
}

#flightsFooter{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: right;

  top: 190px;
  right: 61px;
}


#flightsFooter a{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #000000a3;
  font-size: 16px;
}

#contactFooter{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: right;
  

  top: 230px;
  right: 48px;
}

#contactFooter a{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #000000a3;
  font-size: 16px;
  width: 150%;

}

.socialMedia{
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  position: absolute;

  top: 140px;
  right: 200px;
}

.socialMedia p{
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  position: absolute;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;


  bottom:  20px;
  right: 200px;
  width: 200px;
}

.socialMediaImg {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  position: absolute;

  gap: 18px;
  top: 120px;
  right: 208px;
}
.redPlanetVenturesFooter{
  background-color: #ffffff;
}
.footerBottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
}

hr{
  width: 80%;
  margin: 0 auto; 
    border: 1px solid #00000086; 
}

.footerBottomLeft{
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: absolute;
  
  left: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000000a3;
  padding-top: 30px;

}

.footerBottomRight{
  display: flex;
  flex-direction: row;
  justify-content: right;
 position: relative;
}


.terms{
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: absolute;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000000a3;
  

  left:  250px;
  width: 200px;
}

.privacy{
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: absolute;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000000a3;
  
  left:  450px;
  width: 250px;
}

#homeFooter a:hover{
  color: #e51728;
}

#homeFooter a.active{ 
color: #e51728;
}

#flightsFooter a:hover{
  color: #e51728;
}

#flightsFooter a.active{
  color: #e51728;
}

#contactFooter a:hover{
  color: #e51728;
}

#contactFooter a.active{
  color: #e51728;
}

/* Header/Hero image's styling for flights page*/
.flightsHeader{
  height: 50vh;
  position: relative;
  
  background-image: url(../assets/img/headerbackBack.png);
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

.flightsBook{
  position: absolute;
  
  font-family: 'PorterSans';
  font-size: 48px;
  color: #ffffff;

  bottom: 90px;
  left: 450px;

}

/* Contact Page header image styling*/
.contactHeader{
  height: 50vh;
  position: relative;
  
  background-image: url(../assets/img/headerbackBack.png);
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  
}

/* About us section styling on the contact page*/
.contactUs{
  position: absolute;
  
  font-family: 'PorterSans';
  font-size: 48px;
  color: #ffffff;

  bottom: 90px;
  left: 510px;
}

.aboutUs {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;
  background-color: #ffffff;
  
}

.aboutRedPlanetVentures {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 50px;
}

.textAbout {
  flex: 1;
  text-align: left;
}

.aboutUsHeading {
  margin-bottom: 5px; 
  margin-top: -20px;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #55daeb;
  
}

.redPlanetVentures {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #45016d;
}

.textAbout p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #00000086;
  margin-top: 20px;

  line-height: 1.6;
}

.aboutImage {
  width: 400px; 
  height: auto;
  flex-shrink: 0; 
}

/*ToolBar styling for the layout of the products/flights page styling*/
.toolBar{
  height: 15vh;
  background-color: #45016d;
}

.sliderFilter{
  background-color: #45016d;
  border: none;

  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 100px;
}

.sliderFilter:hover{
  background-color: #000000a3;
}

.sliderFilter img {
  filter: brightness(0) invert(1);
}

.filter{
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;

    color: #ffffff;
}

.grid{
  background-color: #45016d;
  border: none;

  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.grid:hover{
  background-color: #000000a3;
}

.grid img {
  filter: brightness(0) invert(1);
}

.listIcon{
  background-color: #45016d;
  border: none;

  padding: 10px;
  display: flex;
  justify-content:left;
  align-items: center;
}

.listIcon:hover{
  background-color:#000000a3
}

.listIcon img {
  filter: brightness(0) invert(1);
}

.results-content{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

  color: #ffffff;
}

.lineDivide {
  width: 4px;
  height: 24px;
  background-color: rgb(255, 255, 255);
  margin: 0 15px;
}

.show{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

  color: #ffffff;
}

.showNumButton{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #45016d;

    height: 50px;
    width: 50px;
    border-radius: 6px;
    border: none;

    background-color: #ffffffa9;
}

.showNumButton:hover{
  color:#45016d;
  background-color:#000000a3;
  border: #ffffffa9;
}

.sortBy{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

  color: #ffffff;
}

.defaultButton{

  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: right;
  padding-left: 20px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #45016d;

  height: 50px;
  width: 200px;
  border-radius: 6px;
  border: none;

  background-color: #ffffffa9;
}

.defaultButton:hover{
  color:#45016d;
  background-color:#000000a3;
  border: #ffffffa9;
}

.rightToolBar {
  margin-right: 80px;
  margin-left: auto;
}

/*Mars Flight Product Cards Styling*/
.bookMarsFlight{
  height: 100vh;
  border: none;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.marsFlightCard{
  
  border: none;
 
}
.bookMarsFlightIMG{
  margin-top: 3%;
  margin-left: 190px;
  margin-right: auto;
}

.marsFlight{
  margin-left: 30px;
}

.marsFlightTitle{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #000000;

}

.marsPriceDiscounted{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
}

.marsPriceNormal{
  padding-left: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
  text-decoration: line-through;
}

.marsStarReviews{
  margin-right: 10px;
}
.lineDivideReview{
  width: 2px;
  height: 30px;
  background-color:#00000086;
  margin: 0 15px;
}

.custReview{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#00000086;
    font-size: 14px;
}

.marsFlightDesc{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#000000;
    font-size: 16px;
    width: 80%;
}

.numOfFlights .btn{
  background-color: #45016d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}


.bookFlightMarsBut{
  background-color:#e51728;
  border-color: #e51728;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 270px;
  height: 70px;
  border-radius: 12px;
  margin-left: 3%;
}

.bookFlightMarsBut:hover{
  border-color: #e51728;
  background-color:#ffffff;
  color:#e51728;
 
}
.lineDivideAddInfo{
  border: none;
    height: 1px;
    background-color: #0000006a; 
    margin: 20px 0;
    
}

.addInfoMars{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#0000006a;
    font-size: 16px;
}

.dividerInfo{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: 10%;
}

.addInfoValue{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  
}

.addInfoRow{
  display: flex;
  gap: 8px;
  line-height: 40px;
}

.addInfoLabel{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
}

/*Neptune's product cards*/
.bookNeptuneFlight{
  height: 100vh;
  border: none;
  background-color:#45016d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.col{
  margin-left: 35px;
}


.bookNeptuneFlightIMG{

  margin-top: 3%;
  margin-left: 190px;
  margin-right: auto;
}
.neptuneFlightCard {
  background-color: #45016d;
  border: none;
}

.neptuneFlightTitle{
  
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color:#ffffff;
}

.neptunePrice{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color:#55daeb;
}
.neptuneStarReviews{
  margin-right: 20px;
}
.lineDivideReviewNeptune{
  width: 2px;
  height: 30px;
  background-color:#ffffff8c;
  margin: 0 15px;
}

.neptuneStarReviews{
  display: flex;
  flex-direction: row;
  padding: 0;
  
}
.custReviewNeptune{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff8c;
    font-size: 14px;
}
.neptuneFlightDesc{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
    font-size: 16px;
    width: 80%;
}

.neptunenumOfFlights .btn{
  background-color:#55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}
.bookFlightNeptune{
  background-color:#e51728;
  border-color: #e51728;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 270px;
  height: 70px;
  border-radius: 12px;
  margin-left: 3%;
}

.bookFlightNeptune:hover{
  border-color: #e51728;
  background-color:#ffffff;
  color:#e51728;
 
}

.lineDivideAddInfoNept{
  border: none;
    height: 1px;
    background-color: #ffffff; 
    margin: 20px 0;
}
.addInfoNeptune{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff8c;
    font-size: 16px;
}

/*Jupiter product card styling*/
.bookJupiterFlight{
  border: none;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.jupiterFlightCard{
  height: 100vh;
  border: none;
  
}
.bookJupiterFlight img{
  margin-top: 8%;
  margin-left: 190px;
  margin-right: auto;
}

.col{
  margin-left: 35px;
}
.jupiterFlight{
  margin-top: 35px;
  margin-left: 30px;
}

.jupiterFlightTitle{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #000000;

}

.jupiterPrice{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
}
.jupiterStarReviews{
  margin-right: 20px;
}
.lineDivideReviewJupiter{
  width: 2px;
  height: 30px;
  background-color: #00000086;
  margin: 0 15px;
}

.custReviewJupiter{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00000082;
    font-size: 14px;
}

.jupiterFlightDesc{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#000000;
    font-size: 16px;
    width: 80%;
}

.numOfFlightsJupiter .btn{
  background-color: #45016d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}
.bookFlightJupiter{
  background-color:#e51728;
  border-color: #e51728;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 270px;
  height: 70px;
  border-radius: 12px;
  margin-left: 3%;
}

.bookFlightJupiter:hover{
  border-color: #e51728;
  background-color:#ffffff;
  color:#e51728;
 
}


.lineDivideAddInfoJupiter{
  border: none;
    height: 1px;
    background-color: #0000006a; 
    margin: 20px 0;
    
}

.addInfoJupiter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#0000006a;
    font-size: 16px;
}

.dividerInfo{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: 10%;
}

.addInfoValue{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  
}

.addInfoRow{
  display: flex;
  gap: 8px;
}

.addInfoLabel{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;}


/*Saturn Product Card styling*/
.bookSaturnFlight{
  
 
  border: none;
  background-color:#45016d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bookSaturnFlight{
  margin-left: auto;
  margin-right: auto;
}

.bookSaturnFlightIMG{
  margin-top: 8%;
  margin-left: 190px;
  margin-right: auto;
}
.saturnFlight{
  margin-top: 26px;
  margin-left: 30px;
}
.saturnFlightCard {
  height: 100vh;
 
  background-color: #45016d;
  border: none;
}

.saturnFlightTitle{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color:#ffffff;
}

.saturnPrice{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color:#55daeb;
}
.lineDivideReviewSaturn{
  width: 2px;
  height: 30px;
  background-color:#ffffff8c;
  margin: 0 15px;
}

.saturnStarReviews{
  display: flex;
  flex-direction: row;
  padding: 0;
  
}
.custReviewSaturn{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff8c;
    font-size: 12px;
}
.saturnFlightDesc{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
    font-size: 16px;
    width: 80%;
}

.numOfFlightsSaturn .btn{
  background-color:#55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}
.bookFlightSaturn{
  background-color:#e51728;
  border-color: #e51728;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 270px;
  height: 70px;
  border-radius: 12px;
  margin-left: 3%;
}

.bookFlightSaturn:hover{
  border-color: #e51728;
  background-color:#ffffff;
  color:#e51728;
 
}

.lineDivideAddInfoSaturn{
  border: none;
    height: 1px;
    background-color: #ffffff; 
    margin: 20px 0;
}
.addInfoSaturn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff8c;
    font-size: 16px;
}

/*Uranus Product Card Styling*/
.bookUranusFlight{
  border: none;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.uranusFlightCard{
  height: 100vh;
 
  border: none;
  
}
.bookUranusFlight img{
  margin-top: 8%;
  margin-left: 190px;
  margin-right: auto;
}
.uranusFlight{
  margin-top: 30px;
  margin-left: 30px;
}

.uranusFlightTitle{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #000000;

}

.uranusPrice{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
}


.uranusStarReviews{
  margin-right: 2%;
}
.lineDivideReviewUranus{
  width: 2px;
  height: 30px;
  background-color: #00000086;
  margin: 0 15px;
}

.custReviewUranus{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00000082;
    font-size: 14px;
}

.uranusFlightDesc{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#000000;
    font-size: 16px;
    width: 80%;
}

.numOfFlightsUranus .btn{
  background-color: #45016d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}


.bookFlightUranus:hover{
  border-color: #e51728;
  background-color:#ffffff;
  color:#e51728;
 
}

.bookFlightUranus{
  background-color:#e51728;
  border-color: #e51728;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 270px;
  height: 70px;
  border-radius: 12px;
  margin-left: 3%;
}


.lineDivideAddInfo{
  border: none;
    height: 1px;
    background-color: #0000006a; 
    margin: 20px 0;
    
}

.addInfoUranus{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#0000006a;
    font-size: 16px;
}

.dividerInfo{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: 10%;
}

.addInfoValue{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  
}

.addInfoRow{
  display: flex;
  gap: 8px;
  line-height: 40px;
}

.addInfoLabel{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
}

/*Moon flight Card styling*/
.bookMoonFlight{
  
  border: none;
  background-color:#45016d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bookMoonFlight{

  margin-left: auto;
  margin-right: auto;
}

.bookMoonFlightIMG{
  margin-top: 9%;
  margin-left: 190px;
  margin-right: auto;
}
.moonFlightCard {
  height: 110vh;
  background-color: #45016d;
  border: none;
}
.moonFlight{
  margin-top: 30px;
  margin-left: 30px;
}
.moonFlightTitle{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color:#ffffff;
}

.moonPrice{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color:#55daeb;
}
.moonStarReviews{
  margin-right: 20px;
}
.lineDivideReviewMoon{
  width: 2px;
  height: 30px;
  background-color:#ffffff8c;
  margin: 0 15px;
}

.moonStarReviews{
  display: flex;
  flex-direction: row;
  padding: 0;
  
}
.custReviewMoon{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff8c;
    font-size: 14px;
}
.moonFlightDesc{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
    font-size: 16px;
    width: 80%;
}

.numOfFlightsMoon .btn{
  background-color:#55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}
.bookFlightMoon{
  background-color:#e51728;
  border-color: #e51728;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 270px;
  height: 70px;
  border-radius: 12px;
  margin-left: 3%;
}

.bookFlightMoon:hover{
  border-color: #e51728;
  background-color:#ffffff;
  color:#e51728;
 
}

.lineDivideAddInfoMoon{
  border: none;
    height: 1px;
    background-color: #ffffff; 
    margin: 20px 0;
}
.addInfoMoon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff8c;
    font-size: 16px;
}

.viewCartButton{
  background-color:#98111c;
  border-color: #98111c;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 270px;
  height: 70px;
  border-radius: 12px;
  
}

.viewCartButtonBottom{
  display: flex;
  justify-content: right;
  padding: auto;
  
}

.viewCartButton:hover{
  background-color: #ffffff;
  color: #98111c;
  border-color: #98111c;
}

.contactUsDetails{
  height: 130vh;
  border: none;
}
.contactSocialMediaH1{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-left: 90px;
  color: #55daeb;
} 
.contactSocialMediaH2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-left: 90px;
  color:#45016d
}


.contactSocialMediaImg{

display: flex;
margin-left: 90px;


}


.mapVisit1{
display: flex;
flex-direction: row;

margin-top: 100px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 18px;
color: #55daeb;

margin-left: 90px;
}

.mapVisit2{
display: flex;
flex-direction: row;

font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 48px;
color: #45016d;

margin-left: 90px;

}

.googleMap{
border-radius: 12px;
margin-left: 90px;
}


.contactFormCard {
height: 900px; 
width: 600px;
display: flex;
flex-direction: column;

border: none;
padding: 20px;
line-height: 35px;

margin-left: 100px;

background-color: #45016d;
background-image: url(../assets/img/formBack.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 30px;

}

.formHeading{
font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
color: #ffffff;
  
}
.formHeadingMessage{

margin-top: 20px;
margin-left: 22px;
}

.nameContactForm{
font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 15px;
  color:#ffffff;
}

.emailContactForm{
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 18px;
margin-left: 10px;
margin-top: 15px;
color:#ffffff;
}
.emailContactFormControl{

font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.form-control{
line-height: 3;
width: 490px;
margin-left: 10px;
}

.subjectContactForm{
  font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 18px;
margin-left: 10px;
margin-top: 15px;
color:#ffffff;
}

.messageContactForm{
  font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 18px;
margin-left: 10px;
margin-top: 15px;
color:#ffffff;
}



.formButton{
  
  background-color: #e51728;
  height: 70px;
  width: 270px;
  margin-left: 25px;
  margin-top: 30px;
  color:#ffffff;
  border: #e51728;
  overflow: hidden;
  transition: all .6s ease-in-out;

}

.send-text{
  display: block;
  margin-top: 15px;
  
  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.altSubmitButton:hover{
  height: 70px;
  width: 270px;
  background-color: #ffffff;
  color: #ffffff;
  border-color: #e51728;
  transform: translate3d(0px, -35px, -35px);
}


.formGroupContact{
  line-height: 3;
  width: 490px;
  margin-left: 15px;
}