body {
  margin: 0;
  padding: 0%;

}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.poller-one-regular {
  font-family: "Poller One", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PorterSans';
  src: url(../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff);
}

/* Nav Bar Styling*/
nav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  height: 12vh;
}
.navBarContainer{
  
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  height: 12vh;
}
.navBarPages {
  
  background-color: rgba(255, 255, 255, 0.544);
    margin-top: 20px;
    border-radius: 35px;
    margin: 20px auto;
    width: 85%;
    height:12vh;
}

.navBarFlights {
  color: #000000a3;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  padding-right: 10px;
  width: 80%;

  text-decoration: none;
}

.navBarHome {
  color: #000000a3;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  width: 20%;

  text-decoration: none;
}

.navBarContact {
  color: #000000a3;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  width: 20%;

  text-decoration: none;
}
.navBarAbout{
  color: #000000a3;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  width: 50px;

  text-decoration: none;
}
.searchBarNav{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;

  justify-content: end;
  height: 65%;
border-radius: 10px;
border: none;

}

.searchBar{
  border: none;
}
.searchBarCart {
  background: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  padding-right: 18px;
  border-radius: 10px;
}
.line{
  width: 3px;
  height: 30px;
  background-color: #7d6b6b86;
  margin: 0 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.searchBarList{
  height: 80%;
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease, top 0.4s ease, opacity 0.4s ease;

}
.showOptions{
  display: block;
  width: 25%;
  height: max-content;
  background-color: #45016d;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
    
  
  
  border-radius: 10px;
  position: absolute;
 

  visibility: visible;
 
  transform: translate(15%, 50%) scale(1);
  opacity: 1;
  pointer-events: auto
}

.searchItem{
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}

.cart {

  min-width: 18px;
  top: -5px;
  right: 5px;
  border: none;
  margin-right: 10px;
}
.cartPlanetImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.cartRemove{ 
height: 70px;
width: 15%;
background-color:#e51728;
border-radius: 10px;
border: none;
}

.cartModalInfo{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5%;
}

.cartModalButtons{ 
  display: flex;
  align-self: self-end;
  align-items: flex-end;
  align-items: flex-end;
  column-gap: 20px;
}


.flightCartTitle{ 
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}
.flightPrice{
font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #45016d;
  margin-top: 5%;

}

.marsCartCard{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBarMag {
  background: white;
  border-right: none;
  border-radius: 10px;
  padding-left: 10px;

}
.thankYouPurchase{
  display: none;
}

.thankYouPopup{ 
  display: block;
  background-color: #55daeb;
  height: 50%;
  width: 50%;
  color: #000000;
}

/*implemented feedback*/
.notiDot {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 4%;
  right: 1%;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  line-height: 1;
}
/*cart modal styling*/
.cartModalHeader{
  background: #45016d;
}
.totalCart{
  margin-left: auto;
font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;

  color: #000000a9;
}

.cartModalCont{
  margin-right: auto;
  width: 270px;
  height: 70px;

  background-color: #e51728;
  border: none;
  border-radius: 12px;
  color: #ffffff;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;

  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
 



}

.cartModalCheckout{
  
  width: 135px;
  height: 70px;

  background-color: #45016d;
  border: none;
  border-radius: 12px;
  color: #ffffff;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cartModalCont:hover{
  background-color: #f5f5f5ba;
 
  color: #e51728;
  border-width: 6px;
  border-style: solid;
  border-color: #98111c;
}
.cartModalCheckout:hover{
  background-color: #55daeb;
  color: #000;
}

.cartModalFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1rem;
}


.searchBarText {
  border-left: none;
  width: 70px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-size: 16px;
}

.navBarCenter a:hover {
  color: #e51728;
}

.navBarCenter a.active {
  color: #e51728;
}

.active-link {
  color: #e51728;

}
/*Home Page Section*/
/* Red Planet Ventures home Hero Section styling*/
.homeHeader {
  background-image: url('../assets/img/homePageHeader.png');
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 120vh;
  position: relative;
  width: 100%;
}

.bottomTopLeft {
  position: absolute;
  bottom: 5rem;
  left: 3rem;

  font-family: 'PorterSans';
  font-size: 48px;
  color: #e51728;
}

.bottomBotLeft {

  position: absolute;
  left: 3rem;
  bottom: 3rem;
  font-family: "Poller One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #45016d;

}



.featuredTripHeader {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Featured Product - The classic Mars experience styling on home page*/
.tripHeaderCard {
  border: none;
  background-color: #45016d;
  margin-left: 8%;
 

}

.marsExpCard {
  
  margin-left: 8%;
}

.marsFeaturedTrip {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #55daeb;
}

.marsClassicExp {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #ffffff;

  text-align: left;
  width: 600px;
  word-wrap: break-word
}

.marsFlightAbout {
  margin-left: 7%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;

  text-align: left;
  width: 75%;
  word-wrap: break-word
}

.buttonBook {

  margin-left: 8%;
  width: 270px;
  height: 70px;

  background-color: #e51728;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  padding: 0%;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonBook:hover {
  background-color: #ffffff;
  color: #e51728;
  transition-duration: 0.4s;
  cursor: pointer;
}

/*Shuttles and Shuttles description on home page styling*/
.shuttlesHeader {
  
  background-size: cover;
  background-color: #ffffff;
}

.shuttlesCard{
  
  border: none;
}

.travelShuttles{
  display: flex;
  align-items: center;
  

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #45016d;
}
.shuttles {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #55daeb;
}

/*percent for image - feedback application*/
.shuttlesCardRight{
height: 100%;
width: 100%;
}



.aboutShuttles {

  display: flex;
  justify-content: space-between;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000a3;

  text-align: left;
 
}

/* Featured Products cards on home page styling*/
.upcomingTripsHeader {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-size: cover;
  background-color: #45016d;

  display: flex;
  flex-direction: row;
}

.upcomingTrip{
  display: flex;
align-items: center;
justify-content: center;

font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

  color: #ffffff;
  font-size: 38px;
}

.upcomingTripLook{
  display: flex;
align-items: center;
justify-content: center;

font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

  color:#55daeb;
  font-size: 24px;
}
.tripsCardDesc{
  background-color: #45016d;
  border: #55daeb;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.upcomingTripsCards{
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  
}

/*APPLIED FEEDBACK: changed images height and width to be percentages*/
.tripsCard img{
  object-fit: cover;
  height: 50%;
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 1/1;
}
.tripsCardTitle {
  display: flex;
align-items: center;
justify-content: center;

font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

  color:#ffffff;
  font-size: 24px;
  text-align: center;
}

.tripsCardText{
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  
    color:#ffffff;
    font-size: 14px;
    text-align: center;
}
.buttonupcomingTrip{
  display: flex;
align-items: center;
justify-content: center;
}
.buttonBookTrip {
  
  display: flex;
align-items: center;
justify-content: center;

  width: 270px;
  height: 70px;

  background-color: #e51728;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  padding: 0%; /*application of feedback*/

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;

}

.buttonBookTrip:hover {
  background-color: #ffffff;
  color: #e51728;
  transition-duration: 0.4s;
  cursor: pointer;
}
/*home page section styling complete*/


/*Flights Page Section*/
/* Header/Hero image's styling for flights page*/
.flightsHeader {
  
  
  padding-bottom: 4%; /*application of feedback*/

  background-image: url(../assets/img/headerbackBack.png);
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

.flightsBook {

display: flex;
justify-content: center;
align-items: center;
padding-top: 2%; /*application of feedback*/
  font-family: 'PorterSans';
  font-size: 48px;
  color: #ffffff;



}

/* Contact Page header image styling*/
.contactHeader {
  height: 50vh;
  position: relative;

  background-image: url(../assets/img/headerbackBack.png);
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;

}

/*ToolBar styling for the layout of the products/flights page styling*/
.toolBar {
  padding-top: 1%;
  padding-bottom: 1%; /*application of feedback*/
  background-color: #45016d;
  flex-wrap: wrap;
}


.sliderFilter {
  background-color: #45016d;
  border: none;

  padding: 2%;/*application of feedback*/
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20%;/*application of feedback*/
}

.sliderFilter:hover {
  background-color: #000000a3;
}

.sliderFilter img {
  filter: brightness(0) invert(1);
}

.filter {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

  color: #ffffff;
}

.grid {
  background-color: #45016d;
  border: none;

  
  display: flex;
  justify-content: left;
  align-items: center;
}

.grid:hover {
  background-color: #000000a3;
}

.grid img {
  filter: brightness(0) invert(1);
}

.listIcon {

  background-color: #45016d;
  border: none;

  
  display: flex;
  justify-content: left;
  align-items: center;
}

.listIcon:hover {
  background-color: #000000a3
}

.listIcon img {
  filter: invert(15%) sepia(87%) saturate(4359%) hue-rotate(347deg) brightness(92%) contrast(96%);

}

.results-content {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  width: 100%;/*application of feedback*/
  white-space: nowrap;

  color: #ffffff;
}

.lineDivide {
  width: 6px;
  height: 24px;
  border-left: 1px solid #ccc;
  
  margin: 0 15px;
}

.show {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

  color: #ffffff;
}

.showNumButton {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #45016d;

  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;

  background-color: #ffffffa9;
}

.showNumButton:hover {
  color: #45016d;
  background-color: #000000a3;
  border: #ffffffa9;
}

.sortBy {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

  color: #ffffff;
}

.defaultButton {

  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: right;
  padding-left: 5%;/*application of feedback*/

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #45016d;

  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;

  background-color: #ffffffa9;
}

.defaultButton:hover {
  color: #45016d;
  background-color: #000000a3;
  border: #ffffffa9;
}

.rightToolBar {
  margin-right: 5%;
  margin-left:32%;/*application of feedback*/
}

/*Mars Flight Product Cards Styling*/
.bookMarsFlight {
  padding-top: 5%;
  padding-bottom: 5%;/*application of feedback*/
  border: none;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.marsFlightCard {
  
  border: none;
}

.bookMarsFlightIMG {
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 33%; /*application of feedback*/
  margin-right: auto;
}







.marsFlight {
  margin-left: 30px;
  margin-top: 5%;/*application of feedback*/
}

.marsFlightTitle {
  margin-top: 8%;/*application of feedback*/
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #000000;

}

.marsFlightPrice {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
}

.marsPriceNormal {
  padding-left: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
  text-decoration: line-through;
}

.marsStarReviews {
  margin-right: 2%;/*application of feedback*/
}

.lineDivideReview {
  width: 2px;
  height: 30px;
  background-color: #00000086;
  margin: 0 2%; /*application of feedback*/
}

.custReview {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #00000086;
  font-size: 14px;
}

.marsFlightDesc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  width: 80%; /*application of feedback*/
}

.numOfFlights .btn {
  background-color: #45016d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 50%; /*application of feedback*/
  height: 70px;
  border-radius: 12px;
}


.bookFlightMarsBut {

  background-color: #e51728;
  height: 70px;
  width: 270px;
  margin-left: 5%; /*application of feedback*/
  border-radius: 12px;
  color: #ffffff;
  border: #e51728;
  overflow: hidden;
  transition: all .6s ease-in-out;

}

.send-text {


  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.bookFlightMarsBut:hover {
  height: 70px;
  width: 270px;
  background-color: #ffffff;
  color: #000000;
  border-color: #e51728;
  border-width: 6px;
border-style: solid;
}

.altSendButton:hover {
  transform: translate3d(-5px, -25px, -35px);
}

.lineDivideAddInfo {
  border: none;
  height: 1px;
  background-color: #0000006a;
  margin: 20px 0;

}

.addInfoMars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0000006a;
  font-size: 16px;
}

.dividerInfo {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: 10%; /*application of feedback*/
}

.addInfoValue {
  display: flex;
  flex-direction: row;
  align-items: center;


}

.addInfoRow {
  display: flex;
  gap: 8px;
  line-height: 40px;
}

.addInfoLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%; /*application of feedback*/
}

/*Neptune's product cards*/
.bookNeptuneFlight {
  
  border: none;
  background-color: #45016d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.neptuneFlightCard {
padding-top: 5%;
padding-bottom: 5%; /*application of feedback*/
  background-color: #45016d;
  border: none;
}


.col {
  margin-left: 2%;
}

.bookNeptuneFlightIMG img {
  transition: .5s ease;
  backface-visibility: hidden; /*Button animation - not mentioned in brief, additional detail.*/
}

.bookNeptuneFlightIMG {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 33%; /*application of feedback*/
  margin-right: auto;
}



.neptuneFlightCard {
  padding-top: 3%;
  padding-bottom:3%;/*application of feedback*/
  background-color: #45016d;
  border: none;
}

.neptuneFlight {
  margin-top: 2%;/*application of feedback*/
}

.neptuneFlightTitle {

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #ffffff;
}

.neptuneFlightPrice {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #55daeb;
}

.neptuneStarReviews {
  margin-right: 2%;/*application of feedback*/
}

.lineDivideReviewNeptune {
  width: 2px;
  height: 30px;
  background-color: #ffffff8c;
  margin: 0 2%;/*application of feedback*/
}

.neptuneStarReviews {
  display: flex;
  flex-direction: row;
  padding: 0;

}

.custReviewNeptune {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff8c;
  font-size: 14px;
}

.neptuneFlightDesc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  width: 80%; /*application of feedback*/
}

.neptunenumOfFlights .btn {
  
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}

.bookNeptuneBut {
  background-color: #e51728;
  height: 70px;
  width: 270px;
  margin-left: 25px;
  border-radius: 12px;
  color: #ffffff;
  border: #e51728;
  overflow: hidden;
  transition: all .6s ease-in-out; /*Button animation - not mentioned in brief, additional detail.*/

}

.send-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.bookNeptuneBut:hover {
  height: 70px;
  width: 270px;
  background-color: #000000;
  color: #000000;
  border-color: #e51728; /*Button animation - not mentioned in brief, additional detail.*/

}

.altSendButton:hover {
  transform: translate3d(-5px, -25px, -35px); /*Button animation - not mentioned in brief, additional detail.*/
}


.lineDivideAddInfoNept {
  border: none;
  height: 1px;
  background-color: #ffffff;
  margin: 20px 0;
}

.addInfoNeptune {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff8c;
  font-size: 16px;
}

/*Jupiter product card styling*/
.bookJupiterFlight {
  border: none;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.jupiterFlightCard {
  padding-top: 3%;
  padding-bottom:3%;/*application of feedback*/
  border: none;

}




.bookJupiterFlightIMG {
  margin-top: 8%; 
  margin-bottom: 5%;
  margin-left: 34%; /*application of feedback*/
  margin-right: auto;
}

.bookJupiterFlightIMG:hover {
  background-color: #00000098;
}


.col {
  margin-left: 4%; /*application of feedback*/
}

.jupiterFlight {
  margin-top: 2%;
  margin-left: 3%; /*application of feedback*/
}

.jupiterFlightTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #000000;

}

.jupiterFlightPrice {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
}

.jupiterStarReviews {
  margin-right: 2%; /*application of feedback*/
}

.lineDivideReviewJupiter {
  width: 2px;
  height: 30px;
  background-color: #00000086;
  margin: 0 2%; /*application of feedback*/
}

.custReviewJupiter {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #00000082;
  font-size: 14px;
}

.jupiterFlightDesc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  width: 80%; /*application of feedback*/
}

.numOfFlightsJupiter .btn {
  background-color: #45016d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}

.bookJupiterBut {
  background-color: #e51728;
  height: 70px;
  width: 270px;
  margin-left: 25px;
  border-radius: 12px;
  color: #ffffff;
  border: #e51728;
  overflow: hidden;
  transition: all .6s ease-in-out; /*button animation - extra work*/

}

.send-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.bookJupiterBut:hover {
  height: 70px;
  width: 270px;
  background-color: #000000;
  color: #000000;
  border-color: #e51728;

}

.altSendButton:hover {
  transform: translate3d(-5px, -25px, -35px);
}


.lineDivideAddInfoJupiter {
  border: none;
  height: 1px;
  background-color: #0000006a;
  margin: 20px 0;

}

.addInfoJupiter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0000006a;
  font-size: 16px;
}

.dividerInfo {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: 10%;
}

.addInfoValue {
  display: flex;
  flex-direction: row;
  align-items: center;


}

.addInfoRow {
  display: flex;
  gap: 8px;
}

.addInfoLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
}


/*Saturn Product Card styling*/
.bookSaturnFlight {


  border: none;
  background-color: #45016d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bookSaturnFlight {
  margin-left: auto;
  margin-right: auto;
}


.bookSaturnFlightIMG {
  margin-top: 8%;  /*application of feedback*/
  margin-bottom: 5%;
  margin-left: 34%;
  margin-right: auto;
}


.saturnFlight {
  margin-top: 2%;
  margin-left: 3%; /*application of feedback*/
}

.saturnFlightCard {
  padding-top: 3%;
  padding-bottom:3%;/*application of feedback*/

  background-color: #45016d;
  border: none;
}

.saturnFlightTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #ffffff;
}

.saturnFlightPrice {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #55daeb;
}

.lineDivideReviewSaturn {
  width: 2px;
  height: 30px;
  background-color: #ffffff8c;
  margin: 0 15px;
}

.saturnStarReviews {
  display: flex;
  flex-direction: row;
  padding: 0;

}

.custReviewSaturn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff8c;
  font-size: 12px;
}

.saturnFlightDesc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  width: 80%;/*application of feedback*/
}

.numOfFlightsSaturn .btn {
  background-color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}

.bookSaturnBut {
  background-color: #e51728;
  height: 70px;
  width: 270px;
  margin-left: 25px;
  border-radius: 12px;
  color: #ffffff;
  border: #e51728;
  overflow: hidden;
  transition: all .6s ease-in-out;/*additional work*/

}

.send-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.bookSaturnBut:hover {
  height: 70px;
  width: 270px;
  background-color: #000000;
  color: #000000;
  border-color: #e51728;

}

.altSendButton:hover {
  transform: translate3d(-5px, -25px, -35px);
}

.lineDivideAddInfoSaturn {
  border: none;
  height: 1px;
  background-color: #ffffff;
  margin: 20px 0;
}

.addInfoSaturn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff8c;
  font-size: 16px;
}

/*Uranus Product Card Styling*/
.bookUranusFlight {
  border: none;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.uranusFlightCard {
  padding-top: 3%;
  padding-bottom:3%; /*application of feedback*/

  border: none;

}



.bookUranusFlightIMG {
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 34%; /*application of feedback*/
  margin-right: auto;
}



.uranusFlight {
  margin-top: 2%;
  margin-left: 3%; /*application of feedback*/
}

.uranusFlightTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #000000;

}

.uranusFlightPrice {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #00000082;
}


.uranusStarReviews {
  margin-right: 2%; /*application of feedback*/
}

.lineDivideReviewUranus {
  width: 2px;
  height: 30px;
  background-color: #00000086;
  margin: 0 2%; /*application of feedback*/
}

.custReviewUranus {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #00000082;
  font-size: 14px;
}

.uranusFlightDesc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  width: 80%; /*application of feedback*/
}

.numOfFlightsUranus .btn {
  background-color: #45016d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}


.bookUranusBut {
  background-color: #e51728;
  height: 70px;
  width: 270px;
  margin-left: 25px;
  border-radius: 12px;
  color: #ffffff;
  border: #e51728;
  overflow: hidden;
  transition: all .6s ease-in-out;

}

.send-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.bookUranusBut:hover {
  height: 70px;
  width: 270px;
  background-color: #000000;
  color: #000000;
  border-color: #e51728;

}

.altSendButton:hover {
  transform: translate3d(-5px, -25px, -35px);
}

.lineDivideAddInfo {
  border: none;
  height: 1px;
  background-color: #0000006a;
  margin: 20px 0;

}

.addInfoUranus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0000006a;
  font-size: 16px;
}

.dividerInfo {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: 10%; /*application of feedback*/
}

.addInfoValue {
  display: flex;
  flex-direction: row;
  align-items: center;


}

.addInfoRow {
  display: flex;
  gap: 8px;
  line-height: 40px;
}

.addInfoLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%; /*application of feedback*/
}

/*Moon flight Card styling*/
.bookMoonFlight {

  border: none;
  background-color: #45016d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bookMoonFlight {

  margin-left: auto;
  margin-right: auto;
}




.bookMoonFlightIMG {
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 34%;
  margin-right: auto;/*application of feedback*/
}




.bookMoonFlightIMGButton {
  background-color: #e51728;
  border-color: #e51728;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 270px;
  height: 70px;
  border-radius: 12px;
  margin-right: 95px;
  margin-top: 20px;
}

.moonFlightCard {
  padding-top: 3%;
  padding-bottom:3%;/*application of feedback*/
  background-color: #45016d;
  border: none;
}

.moonFlight {
  margin-top: 3%;
  margin-left: 3%;/*application of feedback*/
}

.moonFlightTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  color: #ffffff;
}

.moonFlightPrice {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  color: #55daeb;
}

.moonStarReviews {
  margin-right: 2%;/*application of feedback*/
}

.lineDivideReviewMoon {
  width: 2px;
  height: 30px;
  background-color: #ffffff8c;
  margin: 0 2%; /*application of feedback*/
}

.moonStarReviews {
  display: flex;
  flex-direction: row;
  padding: 0;

}

.custReviewMoon {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff8c;
  font-size: 14px;
}

.moonFlightDesc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  width: 80%; /*application of feedback*/
}

.numOfFlightsMoon .btn {
  background-color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  width: 40px;
  height: 70px;
  border-radius: 12px;
}

.bookMoonBut {
  background-color: #e51728;
  height: 70px;
  width: 270px;
  margin-left: 25px;
  border-radius: 12px;
  color: #ffffff;
  border: #e51728;
  overflow: hidden;
  transition: all .6s ease-in-out;

}

.send-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.bookMoonBut:hover {
  height: 70px;
  width: 270px;
  background-color: #000000;
  color: #000000;
  border-color: #e51728;

}

.altSendButton:hover {
  transform: translate3d(-5px, -25px, -35px);
}

.lineDivideAddInfoMoon {
  border: none;
  height: 1px;
  background-color: #ffffff;
  margin: 20px 0;
}

.addInfoMoon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff8c;
  font-size: 16px;
}

.viewCartButton {
  background-color: #98111c;
  border-color: #98111c;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  overflow: hidden;
  width: 270px;
  height: 70px;
  border-radius: 12px;
  transition: all .2s ease-in-out;
}

.viewCartButtonBottom {
  display: flex;
  justify-content: right;
  padding: auto;

}

.viewCartButton:hover {

  background-color: #ffffff;
  color: #ffffff;
  border-color: #98111c;

}



.send-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.altSendButton:hover {
  transform: translate3d(-5px, -25px, -35px);
}
/*Flights page styling complete*/

/*Contact Page Section Styling*/
/* Contact Page header image styling*/
.contactHeader {
  
  padding-bottom: 5%;

  background-image: url(../assets/img/headerbackBack.png);
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;

}

/* About us section styling on the contact page*/
.contactUs {
  display: flex;
  justify-content: center;
padding-top: 3%; /*application of feedback*/
  font-family: 'PorterSans';
  font-size: 48px;
  color: #ffffff;

 
}

.aboutUs {
 
  padding-top: 5%;
  padding-bottom: 5%; /*application of feedback*/
  display: flex;
  justify-content: center;
  align-items: center;

  
  background-color: #ffffff;

}

.aboutUsTitleCard{

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 20px;
  color: #55daeb;
}

.aboutRedPlanetVentures {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 4%;
  padding-right: 4%;/*application of feedback*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
  gap: 50px;
}

.textAbout {
  flex: 1;
  text-align: left;
}

.redPlanetVentures {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #45016d;
  display: flex;
  flex-direction: column;
}

.textAbout {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #00000086;
  margin-top: 2%; /*application of feedback*/
  line-height: 1.6;
}

.aboutImage {
  
  height: auto;
  flex-shrink: 0;
  padding-left: 5%; /*application of feedback*/
}

/*Contact Information, Map, and Form Styling*/
.contactUsDetails {
  
  border: none;
}
.contactDetails{
  border: none;
  
}

.contactSocialMediaH1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  
  color: #55daeb;
}

.contactSocialMediaH2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  
  
  color: #45016d
}


.contactSocialMediaImg {

  display: flex;
  
}


.mapVisit1 {
  display: flex;
  flex-direction: row;

  margin-top: 16%; /*application of feedback*/
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #55daeb;

  
}

.mapVisit2 {
  display: flex;
  flex-direction: row;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #45016d;

 
}

.googleMap {
  border-radius: 12px;
  
  
}

/*Form - this was rough..*/
.contactFormCard {
  height: 90%;
  width: 90%; /*application of feedback*/
  display: flex;
  flex-direction: column;

  border: none;
  padding: 20px;
  line-height: 35px;

  margin-left: 10%;

  background-color: #45016d;
  background-image: url(../assets/img/formBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;

}

.formHeading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #ffffff;

}

.formHeadingMessage {
  margin-top: 20px;
  margin-left: 22px;
}

.nameContactForm {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 15px;
  color: #ffffff;
}

.emailContactForm {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 15px;
  color: #ffffff;
}

.emailContactFormControl {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form-control {
  line-height: 3;
  width: 100%; /*application of feedback*/
  margin-left: 10px;
}

.subjectContactForm {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 15px;
  color: #ffffff;
}

.messageContactForm {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 15px;
  color: #ffffff;
}
 
.formButton {
  background-color: #e51728;
  height: 70px;
  width: 270px;
  margin-left: 25px;
  margin-top: 30px;
  color: #ffffff;
  border: #e51728;
  overflow: hidden;
  transition: all .6s ease-in-out;

}

.send-text {
  display: block;
  margin-top: 15px;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.altSubmitButton:hover {
  height: 70px;
  width: 270px;
  background-color: #ffffff;
  color: #ffffff;
  border-color: #e51728;
  transform: translate3d(-12px, -22px, -25px);
}


.formGroupContact {
  line-height: 3;
  width: 90%; /*application of feedback*/
  margin-left: 15px;
}

.formPopup{
  width: 80%;
  height: fit-content;
  background: #45016d;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 2% 2%;
  
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease, top 0.4s ease, opacity 0.4s ease;
}
/*created my own popup for the forms submit*/
.formPopup.openPopup {
  visibility: visible;
  top: 40%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  pointer-events: auto;
}

.formPopup img {
  width: 25%;
  margin-top: -12%;
  margin-bottom: 2%;
  
}

.formPopup h6{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #55daeb;
  margin-top: 5%;
}

.formPopup p{
  margin-top: 5%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.formPopup button{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #e51728;
  height: 70px;
  width: 270px;
 border-radius: 10px;
  color: #ffffff;
  border: #e51728;

  margin-bottom: 5%;
  margin-top: 5%;
}

/* Footer for all pages styling*/
.footerFlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;


  background-color: #ffffff;
  
  margin-left: 5%;
}

.logoFooter {
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.logoFooter img {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.logoFooter p {
  display: flex;
  flex-direction: column;
  justify-content: left;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000a3;

  width: 60%;

}

.companyColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.company {
  
  display: flex;
  flex-direction: column;
  justify-content: left;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #000;
}

.footerCenter {

  display: flex;
  flex-direction: column;
  justify-content: right;
  line-height: 40px;
}

#homeFooter {

  display: flex;
  flex-direction: column;
  justify-content: right;


}

#homeFooter a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #000000a3;
  font-size: 16px;
}

#flightsFooter {
 
  display: flex;
  flex-direction: column;
  justify-content: right;


}


#flightsFooter a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #000000a3;
  font-size: 16px;
}

#contactFooter {

  display: flex;
  flex-direction: column;
  justify-content: right;


}

#contactFooter a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #000000a3;
  font-size: 16px;


}

.socialMedia {
  display: flex;
  flex-direction: row;
  
  justify-content: left;

}

.socialMedia p {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;


  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;



}

.socialMediaImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
 

  gap: 18px;
  
}

.redPlanetVenturesFooter {
  background-color: #ffffff;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

hr {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #00000086;
}

.footerBottomLeft {
  display: flex;
  flex-direction: row;
  justify-content: left;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000000a3;
 

}

.footerBottomRight {
  display: flex;
  flex-direction: row;
  justify-content: right;
}


.terms {
  display: flex;
  flex-direction: row;
  justify-content: left;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000000a3;

}

.privacy {
  display: flex;
  flex-direction: row;
  justify-content: left;
 


  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000000a3;


}

#homeFooter a:hover {
  color: #e51728;
}

#homeFooter a.active {
  color: #e51728;
}

#flightsFooter a:hover {
  color: #e51728;
}

#flightsFooter a.active {
  color: #e51728;
}

#contactFooter a:hover {
  color: #e51728;
}

#contactFooter a.active {
  color: #e51728;
}
/*My VSCode Pets kept me sane during this project <3 */

/*new about us page containing company history*/
.aboutHeader {
  height: 50vh;
  

  background-image: url(../assets/img/headerbackBack.png);
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

.aboutUsTitle {
  
display: flex;
align-items: center;
justify-content: space-evenly;
padding-top: 3%;

  font-family: 'PorterSans';
  font-size: 48px;
  color: #ffffff;

 
  

}

.ourJourney{
  background-color: #45016d;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 3%;

  
}

.journeyTitle{
  display: flex;
align-items: center;
justify-content: center;

font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

  color: #ffffff;
  font-size: 38px;
}

.journeySubTitle{
  display: flex;
align-items: center;
justify-content: center;

font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

  color:#55daeb;
  font-size: 24px;
}
.aboutUsCards{
  background-color: #45016d;
  border: #55daeb;
  height: 460px;
}
.journeyCardTitle{
  display: flex;
align-items: center;
justify-content: center;

font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  color:#55daeb;
  font-size: 16px;
}

.journeyCardText{
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  
    color:#ffffff;
    font-size: 12px;
}

.col-lg-3{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.card-img-top{
border-radius: 25px;
height: 45%;

object-fit: cover;
  
  
}
